@font-face{
	font-family: indio;
	src: url("indio.ttf");
	
}

#icon-select {
	margin-right:20px;
}

body {
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3CradialGradient id='a' cx='800' cy='371' r='95.6%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%231f9eff'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='800' cy='371' r='96.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7fffb' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23f7fffb' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1600' height='900'/%3E%3Cg fill='none' stroke='%23436cff' stroke-width='20' stroke-miterlimit='10' stroke-opacity='0'%3E%3Cpolygon points='2277.4 1152 800-1407-677.4 1152'/%3E%3Cpolygon points='800-1372.9-648.8 1136.5 2248.8 1136.5'/%3E%3Cpolygon points='800-1338.8-620.2 1121.1 2220.2 1121.1'/%3E%3Cpolygon points='800-1304.7-591.6 1105.6 2191.6 1105.6'/%3E%3Cpolygon points='800-1270.6-563 1090.2 2163 1090.2'/%3E%3Cpolygon points='800-1236.5-534.4 1074.7 2134.4 1074.7'/%3E%3Cpolygon points='800-1202.4-505.8 1059.3 2105.8 1059.3'/%3E%3Cpolygon points='800-1168.3-477.2 1043.8 2077.2 1043.8'/%3E%3Cpolygon points='800-1134.2-448.6 1028.4 2048.6 1028.4'/%3E%3Cpolygon points='800-1100.1-420 1012.9 2020 1012.9'/%3E%3Cpolygon points='800-1066-391.4 997.5 1991.4 997.5'/%3E%3Cpolygon points='800-1031.9-362.7 982 1962.7 982'/%3E%3Cpolygon points='800-997.8-334.1 966.6 1934.1 966.6'/%3E%3Cpolygon points='800-963.7-305.5 951.1 1905.5 951.1'/%3E%3Cpolygon points='800-929.6-276.9 935.7 1876.9 935.7'/%3E%3Cpolygon points='800-895.5-248.3 920.2 1848.3 920.2'/%3E%3Cpolygon points='800-861.4-219.7 904.7 1819.7 904.7'/%3E%3Cpolygon points='800-827.3-191.1 889.3 1791.1 889.3'/%3E%3Cpolygon points='800-793.2-162.5 873.8 1762.5 873.8'/%3E%3Cpolygon points='800-759.1-133.9 858.4 1733.9 858.4'/%3E%3Cpolygon points='800-725-105.3 842.9 1705.3 842.9'/%3E%3Cpolygon points='800-690.9-76.7 827.5 1676.7 827.5'/%3E%3Cpolygon points='800-656.8-48.1 812 1648.1 812'/%3E%3Cpolygon points='800-622.7-19.4 796.6 1619.4 796.6'/%3E%3Cpolygon points='800-588.6 9.2 781.1 1590.8 781.1'/%3E%3Cpolygon points='800-554.5 37.8 765.7 1562.2 765.7'/%3E%3Cpolygon points='800-520.5 66.4 750.2 1533.6 750.2'/%3E%3Cpolygon points='800-486.4 95 734.8 1505 734.8'/%3E%3Cpolygon points='800-452.3 123.6 719.3 1476.4 719.3'/%3E%3Cpolygon points='800-418.2 152.2 703.9 1447.8 703.9'/%3E%3Cpolygon points='800-384.1 180.8 688.4 1419.2 688.4'/%3E%3Cpolygon points='800-350 209.4 673 1390.6 673'/%3E%3Cpolygon points='800-315.9 238 657.5 1362 657.5'/%3E%3Cpolygon points='800-281.8 266.6 642 1333.4 642'/%3E%3Cpolygon points='800-247.7 295.2 626.6 1304.8 626.6'/%3E%3Cpolygon points='800-213.6 323.9 611.1 1276.1 611.1'/%3E%3Cpolygon points='800-179.5 352.5 595.7 1247.5 595.7'/%3E%3Cpolygon points='800-145.4 381.1 580.2 1218.9 580.2'/%3E%3Cpolygon points='800-111.3 409.7 564.8 1190.3 564.8'/%3E%3Cpolygon points='800-77.2 438.3 549.3 1161.7 549.3'/%3E%3Cpolygon points='800-43.1 466.9 533.9 1133.1 533.9'/%3E%3Cpolygon points='800-9 495.5 518.4 1104.5 518.4'/%3E%3Cpolygon points='800 25.1 524.1 503 1075.9 503'/%3E%3Cpolygon points='800 59.2 552.7 487.5 1047.3 487.5'/%3E%3Cpolygon points='800 93.3 581.3 472.1 1018.7 472.1'/%3E%3Cpolygon points='800 127.4 609.9 456.6 990.1 456.6'/%3E%3Cpolygon points='800 161.5 638.5 441.2 961.5 441.2'/%3E%3Cpolygon points='800 195.6 667.2 425.7 932.8 425.7'/%3E%3Cpolygon points='800 229.7 695.8 410.2 904.2 410.2'/%3E%3Cpolygon points='800 263.8 724.4 394.8 875.6 394.8'/%3E%3Cpolygon points='800 297.9 753 379.3 847 379.3'/%3E%3Cpolygon points='800 332 781.6 363.9 818.4 363.9'/%3E%3C/g%3E%3Crect fill-opacity='0' fill='url(%23b)' width='1600' height='900'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	margin:0;
}

#map {
	width:100%;
	height:80%;
	max-height:80%;
	max-width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#text-above {
	margin-top:40px;
	width:100%;
	height:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:indio;
	font-size:2vw;
}

#topbar {
	
	width:100%;
	height:9%;
	background-color: #0942077d;
}

#logo {
	margin-left:5%;
	max-height:119.7%;
	min-height:119.7%;
	float:left;
}

svg {

	max-width:80%;
	max-height:80%;
	min-width:80%;
	min-height:80%;
}

#AC:hover {
	fill: #153308;
	transition: 0.1s linear;
}

#AL:hover {
	fill: #175e82;
	transition: 0.1s linear;
}

#AP:hover {
	fill: #9fff32;
	transition: 0.1s linear;
}

#AM:hover {
	fill: #289e0e;
	transition: 0.1s linear;
}

#BA:hover {
	fill: #d6e222;
	transition: 0.1s linear;
}

#CE:hover {
	fill: #f2a035;
	transition: 0.1s linear;
}

#DF:hover {
	fill: #f90e0e;
	transition: 0.1s linear;
}

#ES:hover {
	fill: #ffaffd;
	transition: 0.1s linear;
}

#GO:hover {
	fill: #ffaffd;
	transition: 0.1s linear;
}

#MA:hover {
	fill: #d84e20;
	transition: 0.1s linear;
}

#MT:hover {
	fill: #3e634b;
	transition: 0.1s linear;
}

#MS:hover {
	fill: #3e6355;
	transition: 0.1s linear;
}

#MG:hover {
	fill: #f7d85d;
	transition: 0.1s linear;
}

#PA:hover {
	fill: #3f3da5;
	transition: 0.1s linear;
}

#PB:hover {
	fill: #dbbd62;
	transition: 0.1s linear;
}

#PR:hover {
	fill: #0ca094;
	transition: 0.1s linear;
}

#PE:hover {
	fill: #71aa06;
	transition: 0.1s linear;
}

#PI:hover {
	fill: #a35437;
	transition: 0.1s linear;
}

#RJ:hover {
	fill: #0b8cb7;
	transition: 0.1s linear;
}

#RN:hover {
	fill: #b70b39;
	transition: 0.1s linear;
}

#RS:hover {
	fill: #64d8ef;
	transition: 0.1s linear;
}

#RO:hover {
	fill: #69587c;
	transition: 0.1s linear;
}

#RR:hover {
	fill: #491882;
	transition: 0.1s linear;
}

#SC:hover {
	fill: #932963;
	transition: 0.1s linear;
}

#SP:hover {
	fill: #7f0202;
	transition: 0.1s linear;
}

#SE:hover {
	fill: #5b5100;
	transition: 0.1s linear;
}

#TO:hover {
	fill: #2f6d3d;
	transition: 0.1s linear;
}

.state {
	cursor: default;
	fill: #cbffd9;
}

.state:hover {
	fill: #4cad39;
	transition: 0.1s linear;
}